<%- include("partials/header"); -%>
<body>
  <div class="homePage">
<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">ABOUT US</h1>
    <p class="lead">Welcome to BlogCreator , your website for posting your blogs anonymously!! Not only this , you can also see other people blogs . It offers you a platform for not keeping your thoughts inside but sharing with everyone around the world.So I hope you will have a great experience with this website . If you have any questions or comments , please don't hesitate to <a href="/contact" class="contus" style="color:red">contact us</a>.</p>
    <br />
    <br />
    <h6>Sincerely</h6>
    <p>
      [Ridhika Garg]
      </p>

  </div>
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Ridhika Garg</p>
  </div>
</div>
</body>
</html>
