<%- include("partials/header"); -%>

	<div class="container-fluid">

		
				<h1 style="font-size:50px; font-style:bolder"><%= requestedTitle  %></h1>
				<p class="qwe">
					<%= requestContent %>
					</p>
		


<%- include("partials/footer"); -%>
